:root {
  --text-color: #260c1a;
  --first-accent-heading-color: #f05d23;
  --button-color: #c5d86d;
  --paragraph-color: #f7f7f2;
}
body {
  margin-top: 50px;
  line-height: 1.6;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.2;
}
h4 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: var(--text-color);
}
i {
  font-size: 24px;
  opacity: 0.7;
}
.main-section-backgruond {
  background-color: var(--paragraph-color);
  margin: 20px 60px;
  padding: 30px 60px;
  border-radius: 10px;
}
.first-section-homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about-section {
  padding: 80px 20px;
}
.about-section-content {
  padding-top: 80px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
}

#greeting {
  margin: 50px 0 0 0;
}
#contact-me-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#mail-emoji {
  font-size: 30px;
}
.primary-button {
  background-color: var(--button-color);
  border-radius: 5px;
  border-style: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding: 20px 15px;
  text-align: center;
  transition: color 150ms ease-in-out;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--paragraph-color);
}

.secondary-button {
  background-color: var(--paragraph-color);
  border-radius: 5px;
  border-style: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding: 20px 15px;
  text-align: center;
  transition: color 1500ms ease-in-out;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--button-color);
}
.buttons {
  display: flex;
  justify-content: center;
}
.contact-background {
  background-color: var(--paragraph-color);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  line-height: 2;
}
.contact-background a:hover {
  color: var(--button-color);
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--paragraph-color);
  padding: 30px 60px;
  border-radius: 10px;
}
footer .contact-box button {
  margin: 0;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  transition: all 150ms ease-in-out;
}
footer .email-link:hover {
  color: var(--button-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--button-color);
  background-color: var(--paragraph-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--paragraph-color);
  background-color: var(--button-color);
}
footer p a:hover {
  color: var(--button-color);
}

#contact-btn,
#about-btn {
  margin-top: 40px;
}
#contact-btn {
  margin-right: 40px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
  }
  h2 {
    font-size: 26px;
    text-align: center;
  }
  h3 {
    font-size: 14px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  #yoga-btn,
  #weather-btn,
  #yogurt-btn {
    display: block;
    margin: 0 auto;
  }
  #contact-page {
    font-size: 24px;
  }
  footer .contact-box {
    padding: 30px;
  }
  h4 {
    font-size: 18px;
  }
}
